<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5">
      <!--<assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        
      </assemblies>-->
      </compilation>
      
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
 <connectionStrings>
   
   <!-- Server Machine -->
   <!--add name="Conn" providerName="System.Data.SqlClient" connectionString="Data Source=V2MUMPC0229;Initial Catalog=MoviesPlannerDB;User Id=sa;Password=mail_123;Integrated Security=False;" /-->

   <!-- Local Machine -->
   <add name="Conn" providerName="System.Data.SqlClient" connectionString="Data Source=V2MUMPC0478;Initial Catalog=MoviesPlannerDB;User Id=sa;Password=mail_123;Integrated Security=False;" />
  
   <!--connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=c:\myFolder\myExcel2007file.xlsx;
Extended Properties="Excel 12.0 Xml;HDR=YES";-->
  </connectionStrings>

</configuration>




